@model List<FishingShop.ViewModel.Employees.EmployeeIndexViewModel>


<div class="jumbotron">
    <h2 class="display-4">Lowest paid employees</h2>
    <hr />
    <div class="container">
        <div class="row mx-auto ">
            @foreach (var item in Model)
            {
                    <div class="card mx-auto my-1" style="width: 18rem;">
                        <div class="card-body">
                                    <h5 class="card-title">FirstName: @item.FirstName</h5>
                                    <p class="card-text">LastName: @item.LastName</p>
                                    <p class="card-text">Age: @item.Age</p>
                                    <p class="card-text">Position: @item.Position</p>
                                    <p class="card-text">Salary: @item.Salary</p>
                                    <p class="card-text">ContactPhone: @item.ContactPhone</p>
                                    <img class="img-thumbnail" src="@item.ImageUrl" />
                        @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
                        </div>
                    </div>
            }
        </div>
    </div>
</div>